<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <p>Hello Spring Boot! user.index</p>

    <table>
        <thead>
        <tr>
            <th >Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.login}">Oranges</td>
        </tr>
        </tbody>
    </table>

    <span th:text="${users[0].login}"></span>
</body>
</html>