<!DOCTYPE html>
<html>

<head>
    <title>Create Transaction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<form class="form-narrow form-horizontal" method="post" th:action="@{/transaction/add/{idaccount}(idaccount=${accountForm.account.id})}" th:object="${accountForm}" th:fragment="signupForm">
    <!--/* Show general error task when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${accountForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Please create a transaction</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}" />
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('transaction')}? 'has-error'">
            <label for="transaction" class="col-lg-2 control-label">Transaction</label>
            <div class="col-lg-10">
                <input type="number" step="0.01" class="form-control" id="transaction" placeholder="Transaction" th:field="*{transaction}" />
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error'">
            <label for="type" class="col-lg-2 control-label">Type</label>
            <div class="col-lg-10">
                <select id="type" th:field="*{type}" class="form-control">
                    <option th:each="type : ${allTypes}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Add transaction</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <a th:href="@{/account/}">Back</a>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>